.cake-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.cake-list > .cake-wrapper {
    background: url('/img/no-img.png') 50% 50% no-repeat;
    background-size: cover;
    margin: 5px;
}

